<nav class="container">
    <a href="/">Index</a>
    <a href="/login">Login</a>
    <a href="/register">Registration</a>
    <a href="/postimage">Post Image</a>
    <a href="/posts/1">View Post</a>
</nav>