{{log this}}

<header class="header">
  <ul class="navBarLeft">
    <li><a class="home-link" href="/">Home</a></li>
    <li><a href="/postimage">New Post</a></li>
  </ul>

  <ul class="navBarCenter">
    <li><a href="/posts/1">View Post</a></li>
  </ul>

  <ul class="navBarRight">
    {{#if isLoggedIn}}
      <li><a class="sign-out-link" id="logout-button" href="">Sign Out</a></li>
    {{else}}
      <li><a href="/register">Sign Up</a></li>
      <li><a class="sign-in-link" href="/login">Sign In</a></li>
    {{/if}}
  </ul>
</header>