{{log this}}

<nav class="container">
  <a href="/">Index</a>
  {{#if isLoggedIn}}
    <a id="logout-button">Log Out</a>
  {{else}}
    <a href="/login">Log In</a>
  {{/if}}

  <a href="/register">Registration</a>
  <a href="/postimage">Post Image</a>
  <a href="/posts/1">View Post</a>
</nav>