<header class="header">
  <ul class="navBarLeft">
    <li><a class="home-link" href="/">Home</a></li>
    <li><a href="/postimage">New Post</a></li>
  </ul>

  <ul class="navBarCenter">
    <form class="search-form"
    method="GET"
    action="/posts/search"
    enctype="application/x-www-form-urlencoded">
      <input id="search-text" class="search-text" name="searchTerm" type="text" placeholder="Search for a Post" value="{{searchTerm}}"/>
      <input id="search-submit" class="search-submit" type="submit" value="Search">
    </form>
  </ul>

  <ul class="navBarRight">
    {{#if isLoggedIn}}
      <li><a class="sign-out-link" id="logout-button" href="">Sign Out</a></li>
    {{else}}
      <li><a href="/register">Sign Up</a></li>
      <li><a class="sign-in-link" href="/login">Sign In</a></li>
    {{/if}}
  </ul>
</header>