<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>

<body>

<div class="flex-wrapper">
  <main>
    <div id="object-list"
         class="object-list"></div>
  </main>
</div>
</body>
</html>