<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post Image</title>
</head>

<body>
<div class="flex-wrapper">
  <div class="form-box">
    <main>
      <h2>Post images to your account</h2>

      <form id="post-image" class="input-form"
            action="/posts/create"
            method="post"
            enctype="multipart/form-data">

        <label for="post-title">Post Title</label>
        <input type="text"
               id="post-title"
               placeholder="Post Title"
               name="title"
               required/>
        <p id="post-title-msg">Please enter the title</p>

        <label for="post-desc">Post Description</label>
        <input type="text"
               id="post-desc"
               placeholder="Post Description"
               name="description"
               required/>
        <p id="post-desc-msg">Please enter the description</p>

        <label class="post-lbl-image">Upload Image</label>
        <input id="img-select"
               class="post-input-image"
               type="file"
               name="uploadImage"
               placeholder="No file chosen"
               required/>

        <a href="">Acceptable Use Policy</a>
        <label for="TOSCheck">I accept the Acceptable Use Policy</label>
        <input type="checkbox"
               id="TOSCheck"
               required/>

        <input class="form-submit"
               id="postSubmit"
               type="submit"
               value="Submit Image">
      </form>
    </main>
  </div>
</div>
</body>
</html>