<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Post Image</title>
  </head>

  <body>
    <div class="flex-wrapper">
      <main>
        <h2>Post images to your account</h2>

        <form>
          <label for="postTitle">Post Title</label>
          <input type="text"
                 id="postTitle"
                 placeholder="Post Title"/>

          <label for="postDescription">Post Description</label>
          <input type="text"
                 id="postDescription"
                 placeholder="Post Description"/>

          <input type="file"
                 id="myFile"
                 name="filename"
                 placeholder="Nothing">

          <a href="">Acceptable Use Policy</a>

          <label for="TOSCheck">I accept the Acceptable Use Policy</label>
          <input type="checkbox"
                 id="TOSCheck"/>

          <input type="submit"
                 value="Submit Image">
          </form>
      </main>
    </div>
  </body>
</html>